body{
margin:0;
font-family:Arial, sans-serif;
background:#111;
color:white;
text-align:center;
}

.header{
padding:30px;
background:linear-gradient(45deg,#ff4d00,#ff0000);
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
gap:15px;
padding:20px;
}

.card{
background:#1e1e1e;
padding:25px;
border-radius:15px;
text-decoration:none;
color:white;
font-weight:bold;
font-size:18px;
transition:0.3s;
}

.card:hover{
background:#ff4d00;
transform:scale(1.05);
}

.ads{
margin:30px;
}

.ads img{
width:90%;
max-width:600px;
border-radius:15px;
}

.form-box{
background:#1e1e1e;
margin:40px auto;
padding:20px;
max-width:500px;
border-radius:15px;
}

input, textarea{
width:90%;
padding:12px;
margin:10px;
border-radius:8px;
border:none;
}

button{
padding:12px 25px;
border:none;
background:#ff4d00;
color:white;
border-radius:8px;
cursor:pointer;
}

footer{
margin-top:40px;
padding:20px;
background:#000;
}
